<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <%- include ('./partials/menu') %>
    <h1><%= title %></h1>
    <p>Заполните форму ниже чтобы зарегистрироваться</p>
    <%- include ('./partials/messages') %>
    <div class="container">
      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <a href="/auth/yandex">
            <button class="btn btn-warning">Яндекс вход</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <a href="/auth/google">
            <button class="btn">Google вход</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <a href="/auth/vkontakte">
            <button class="btn btn-primary">VK вход</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <a href="/auth/github">
            <button class="btn btn-primary">Github</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <form action="/login" method="post">
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label"
            >Имя пользователя</label
          >
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              name="loginForm[email]"
              id="inputName"
              placeholder="UserEmail"
            />
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputPass" class="col-4 col-form-label">Пароль</label>
          <div class="col-8">
            <input
              type="password"
              class="form-control"
              name="loginForm[password]"
              id="inputPass"
              placeholder="password"
            />
          </div>
        </div>

        <div class="mb-3 row">
          <div class="offset-sm-4 col-sm-8">
            <button type="submit" value="Login" class="btn btn-primary">
              Войти
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
